:root {
    --screen-small-width: 768;
}

.menuContainer {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: #fff;

    transition: 0.25s cubic-bezier(0.5, -1, 0.5, 2);
    opacity: 1;

    @media screen and (max-width: 768px) {
        opacity: 0;
        width: 100%;
        position: absolute;
        top: 80px;
        left: 0;
        margin: 0;
    }
}

.activeNavLink {
    background-color: #74ddf7;
}

.activeNavLink::before {
    color: #fff;
}

.activeNavLink span {
    opacity: 1;
}
